:root {
  --main-bg-color: #ffe8ba;
  --sales-bg-color: #e6d8f9;
}
* {
  font-family: Obviously;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  background-color: var(--main-bg-color);
}

body {
  padding: 0.5rem 6vw;
  min-width: 300px;
}
header {
  height: 5rem;
  padding-bottom: 2.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
header img {
  height: 50%;
}
header h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 100%;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-top: 3rem;
}
article h2 {
  font-weight: 400;
  font-size: 2.8rem;
  text-wrap: wrap;
  line-height: 1.2;
}
.basket {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.basket img {
  height: 30%;
}
.basket p {
  font-size: 1.1rem;
  line-height: 100%;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}
.collar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.collar h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 5rem;
}
.collar img {
  width: 100%;

  object-fit: cover;
  aspect-ratio: auto 2500 / 1168;
  border-radius: 4rem;
}
.about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.about-us p {
  font-size: 1rem;
}
.about-us a {
  color: black;
  letter-spacing: 0.1rem;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 1rem 3vw;
  }

  header h1 {
    font-size: 1.3rem;
  }
  article {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .collar h1 {
    padding-top: 0.8rem;
    padding-bottom: 0;
    font-size: 3.3rem;
    font-weight: 500;
  }
  .collar img {
    aspect-ratio: 707 / 387;
  }
  article h2 {
    font-size: 2.5rem;
  }
}
