:root {
  --main-bg-color: #ffe8ba;
  --sales-bg-color: #e6d8f9;
}
* {
  font-family: Obviously;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  background-color: var(--main-bg-color);
}

body {
  padding: 0.5rem 6vw;
  /* min-width: 300px; */
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
header {
  height: 5rem;
  padding-bottom: 2.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
header img {
  height: 50%;
}
header h1,
footer h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 100%;
}
header ul {
  list-style: none;
  display: none;
  gap: 1rem;
  justify-content: center;
}
header ul li a {
  text-decoration: none;
  color: black;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-top: 4.1rem;
}
article h2 {
  font-weight: 400;
  font-size: 2.8rem;
  text-wrap: wrap;
  line-height: 1.2;
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 0;
  gap: 1rem;
}
footer ul {
  list-style: none;
  grid-column: span 2;
}
footer ul li a {
  color: black;
}

.basket {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}
.basket img {
  height: 100%;
}
.basket p {
  font-size: 1.1rem;
  line-height: 100%;
}

.welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}
.collar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.collar h1 {
  width: 100%;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 4.8rem;
  text-wrap: balance;
}
.collar img {
  width: 100%;
  height: 15rem;
  object-fit: cover;

  border-radius: 4rem;
}
.about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.about-us p {
  font-size: 1rem;
}
.about-us a {
  color: black;
  letter-spacing: 0.1rem;
}
.favorite-item {
  width: 100%;
  padding-top: 11rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.favorite-item > img {
  width: 55vw;
  height: 21rem;
  object-fit: cover;
}
.favorite-item-item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
.favorite-item-wrapper {
  width: 55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
.item-img-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-img-wrapper img {
  background-color: #f6f6f6;

  width: 100%;
  object-fit: cover;

  padding: 2rem 0;
}

.item-view-btn {
  display: none;
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 1rem;
}
.item-img-wrapper:hover > button {
  display: block;
}

.social-img-wrapper {
  display: flex;
  padding-right: 3rem;
  justify-content: flex-end;
  height: 1.5rem;
  gap: 1rem;
}
.social-img-wrapper img {
  height: 100%;
}
.shop-wrapper {
  width: 100%;
  background-color: var(--sales-bg-color);
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  align-items: center;
  text-align: center;
  padding: 5rem 6vh;
  gap: 2rem;
}
.shop-item {
  width: 100%;
  background-color: var(--sales-bg-color);
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.shop-item:nth-child(2) {
  display: none;
}
.shop-item:nth-child(3) {
  display: none;
}
.shop-item img {
  width: 100%;
  object-fit: cover;
}
.shop-item p {
  background-color: var(--sales-bg-color);
  font-size: 1.5rem;
}
.shop-btn-wrapper {
  background-color: var(--sales-bg-color);
  display: flex;
  justify-content: center;
}
.shop-btn {
  background-color: var(--sales-bg-color);
  font-size: 1.2rem;
  bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}
.shop-btn:hover,
.Sign-btn:hover {
  background-color: black;
  color: white;
}
.friends-wrapper {
  width: 100vw;
  padding: 5rem 0;
  background-image: url(./Anim-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.friends-wrapper:hover {
  background-position: 40% 40%;
}
.friends-wrapper h1 {
  background-color: transparent;
  font-size: 3rem;
  font-weight: 500;
  padding: 0 0.5rem;
}
.friends-wrapper p {
  background-color: transparent;
  padding: 0 10rem;
}
.friends-wrapper img {
  background-color: transparent;
  height: 5rem;
  object-fit: contain;
}
.follow-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 5rem;
  gap: 1rem;
}
.follow-us h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
.follow-us h1 a {
  color: black;
}
.bottom-img-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.bottom-img-grid img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 2rem;
}

.subscibe-div {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.subscibe-div p {
  grid-column: span 2;
}
.sign-div {
  /* display: flex; */
  gap: 0.5rem;
}
.sign-div input {
  min-width: 55%;
  background-color: white;
  padding: 1.3rem 2rem;
  border: none;
  font-weight: 100;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
.Sign-btn {
  padding: 1.3rem 2rem;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.5rem;
}
@media only screen and (min-width: 768px) {
  body {
    padding: 1rem 3vw;
  }

  header h1 {
    font-size: 1.3rem;
  }
  article {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .collar h1 {
    padding-top: 0.8rem;
    padding-bottom: 0;
    font-size: 3.3rem;
    font-weight: 500;
  }
  .collar img {
    /* aspect-ratio: 707 / 387; */
    height: 28rem;
  }
  article h2 {
    font-size: 2.5rem;
  }
  .about-us {
    padding-left: 5rem;
  }
  .favorite-item {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 11rem;
  }
  .favorite-item > img {
    width: 80%;
    height: 30rem;
    object-fit: contain;
  }
  .favorite-item-item {
    width: 50%;
  }
  .favorite-item-wrapper {
    width: 100%;
  }
  .shop-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .shop-item:nth-child(2) {
    display: flex;
  }
  .friends-wrapper h1 {
    font-size: 2.8rem;
  }
  .friends-wrapper img {
    height: 8rem;
  }
  .friends-wrapper p {
    font-size: 1.2rem;
  }
  .follow-us {
    padding: 3rem 3rem;
  }
  .follow-us h1 {
    font-size: 2.6rem;
  }
  .follow-us p {
    font-size: 1.2rem;
  }
  .bottom-img-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
  }
  .bottom-img-grid img {
    height: 100%;
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer h1 {
    grid-column: span 2;
  }
  footer ul {
    grid-row: span 2;
    width: 100%;
    grid-column: span 1;
    order: 4;
  }
  .social-img-wrapper {
    width: 100%;
    grid-row: span 2;
    justify-content: flex-start;
    order: 3;
  }
  .subscibe-div {
    grid-row: span 3;
    width: 100%;
    grid-column: span 1;
    order: 2;
  }
}

@media only screen and (min-width: 800px) {
  body {
    padding: 0 3vw;
  }
  header > img {
    display: none;
  }
  header h1 {
    width: 33%;
  }

  header ul {
    display: flex;
    width: 33%;
  }
  header {
    height: 3rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .basket {
    width: 33%;
  }
}

@media only screen and (min-width: 992px) {
  body {
    padding: 0.5rem 3vw;
  }
  header {
    padding-bottom: 1.3rem;
  }

  .shop-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .shop-item:nth-child(3) {
    display: flex;
  }
  .collar img {
    /* aspect-ratio: 707 / 387; */
    height: auto;
  }
  .favorite-item > img {
    height: 100%;
  }
  .collar h1 {
    font-size: 4.8rem;
    text-wrap: pretty;
  }
  article h2 {
    font-size: 3rem;
  }
  article p {
    font-size: 1.5rem;
  }
  .about-us {
    padding-left: 8rem;
  }
  .friends-wrapper:hover {
    background-position: 20% 20%;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
